<h1><%= @restaurant.name %></h1>
<p><strong>Adress -</strong> <%= @restaurant.address %></p>
<p><strong>Phone number -</strong> <%= @restaurant.phone_number %></p>
<p><strong>Category -</strong> <%= @restaurant.category %></p>

<h3>Reviews</h3>
<% @restaurant.reviews.each do |review| %>
  <div class="d-flex card px-2">
    <%= review.rating %>/5 ---
    <%= review.content %>
  </div>
<% end %>
<br>
<div>
  <h3>New Review</h3>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit "Submit review", class: "btn btn-success" %>
  <% end %>
</div>
<%# # le new review et son form doit aller sur la view de new de review si elle a sa propre page ! %>
<div>
<%= link_to "Back to restaurants", restaurants_path, class: "btn btn-outline-primary mt-4" %>
</div>
